.s-conhecimentos{
    width: 100vw;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    .container{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .texto-conhecimento{ 
            margin-top: 15px;
            margin-bottom: 15px;
            h2{
                text-align: center;
                font-size: 20px;
                color: #334155;

            }
        }
        .skills{  
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-top: 15px;
            .hard-skills{
                padding: 10px;
                width: 100%;
                max-width: 350px;
                background: #6ee7b7;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid #fffffe ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: #fffffe;
                    border-radius: 0px 10px 10px 0px;
                    box-shadow: 2px 3px 10px #6ee7b7;
                    align-items: center;
                    margin-bottom: 20px;
                    h2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #334155;
                        height: 50px;
                        border-radius: 10px;
                        font-weight: 700;
                        font-size: 18px;
                       
                    }
                }
               
            }

            .soft-skills{
                padding: 10px;
                width: 100%;
                max-width: 350px;
                background: #6ee7b7;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid #fffffe ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: #fffffe;
                    border-radius: 0px 10px 10px 0px;
                    box-shadow: 2px 3px 10px #6ee7b7;
                    align-items: center;
                    margin-bottom: 20px;
                    h2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color:  #334155;
                        height: 50px;
                        font-size: 20px;
                        
                    }
                }
            }

        }
        
    }
    @include responsive(600px){
        .skills{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            .soft-skills,.hard-skills{
                width: 100%;
                max-width: 300px;
                ul{
                 display: flex;
                 justify-content: center; 
                 align-items: center;
                 flex-direction: column;
                 margin-bottom: 15px;  
                }
                .texto-skills{
                    width: 80vh;
                    max-width: 250px;
                    
                }
            }
        }
    }
}

