.s-certificados{
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .slide{
            border-top: 7px solid greenyellow;
            border-bottom: 7px solid greenyellow;
           background: white;
            overflow: hidden;
            overflow: hidden;
            .swiper-wrapper{
                .swiper-slide{
                    width: 100%;
                    max-width: 600px;
                    margin: 10px;
                    img{
                        width: 100%;
                        
                    }
                }
            }
        }
    }
}