.s-conhecimentos{
    width: 100vw;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    .container{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .texto-conhecimento{
            width: 80%;
            height: 50px;
            background: #334155;
            box-shadow: 1px 2px 8px #e2e8f0;
            border-radius: 0px 10px 10px 0px  ;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-left: 8px solid  #fff;
            border-right: 8px solid  #fff;
            h2{
                display: flex;
                align-items: center;
                text-align: center;
                color: #fffffe;
                height: 50px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 18px;

            }
        }
        .skills{  
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-top: 15px;
            .hard-skills{
                padding: 10px;
                width: 80vh;
                max-width: 300px;
                background: #fffffe;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid $Emerald-400 ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: $Emerald-500;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #e2e8f0;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                   
                }
            }

            .soft-skills{
                padding: 10px;
                width: 80vh;
                max-width: 300px;
                background: #f1f5f9;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid $Emerald-400 ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: $Emerald-500;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #e2e8f0;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    
                }
            }

        }
        
    }
    @include responsive(600px){
        .skills{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            .soft-skills,.hard-skills{
                width: 80vh;
                max-width: 250px;
                .texto-skills{
                    width: 80vh;
                    max-width: 250px;
                }
            }
        }
    }
}

