.s-certificados{
    .container{
        .slide{
            .swiper-wrapper{
                .swiper-slide{
                    width: 100%;
                    border: 2px solid red;
                    margin: 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}