.s-principal{
     .container{
        .npm-start{
            margin-top:70px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            #bem-vindo{
                margin-right: 5px;
                margin-bottom: 20px;
                 }
            #em-dev{
                margin-left: 5px;
               
                margin-bottom: 20px;

            }
        }
         .principal{
            display: flex;
             justify-content: center;
             align-items: center;
             margin-top: 20px;
             margin-bottom: 0px;
             width: 100%;
             .texto-principal{
                display: flex;
                align-items: center;
                justify-content: center;
                 .texto{
                     width: 80vw;
                     max-width: 400px;
                     animation: textoPrincipal 5s ease-in-out infinite;
                     #apresentation{
                         margin-top: 20px;
                         display: none;
                     }
                     h3{
                        text-align: justify;
                        font-size: 16px;
                         color: #334155;
                     }

                    
                 }
                 .image{
                     width: 80vh;
                     display: flex;
                     margin: 20px;
                     img{
                       margin-top: 10px;
                       align-items: center;
                       justify-content: center;
                     }
                 }
                 .texto-obs{
                     animation: textoError 6S ease-in-out infinite;
                     .texto{
                     display: flex;
                     align-items: center;
                     width: 50%;
                     background: $Emerald-500;
                     border-radius: 0px 10px 10px 0px;
                     box-shadow: 1px 2px 8px $Emerald-800;
                     padding: 15px;
                     margin: 20px;
                     animation: textoPrincipal 5s ease-in-out infinite;
                         p{
                             text-align: justify;
                             word-wrap: break-word;
                             letter-spacing: 2px;
                             color: #fff; 
                         }
                     }
                 }
             }
         }
 
        }
        
        @include responsive(600px){
            .container{
                .texto-principal{
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     .texto{
                         text-align: justify;
                     }

                     .image{
                         justify-content: center;
                        img{
                            width: 50vh;
                            
                        }
                     }
                }
            }
        }
     
 }
 