.s-principal{
     .container{
         .principal{
             margin-top: 200px;
             margin-bottom: 100px;
             width: 100%;
             .texto-principal{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin-bottom: 50px;
                 gap: 32px;
                 .texto{
                     width: 100%;
                     max-width: 400px;
                     animation: textoPrincipal 5s ease-in-out infinite;
                     #bem-vindo{
                     margin-bottom: 20px;
                     }
                     #apresentation{
                         margin-top: 20px;
                         display: none;
                     }
                     h3{
                         color: #334155;
                     }
                 }
                 .image{
                     width: 400px;
                     display: flex;
                     margin: 20px;
                     img{
                       margin-top: 80px;
                       align-items: center;
                       justify-content: center;
                     }
                 }
                 .texto-obs{
                     animation: textoError 6S ease-in-out infinite;
                     .texto{
                     display: flex;
                     align-items: center;
                     width: 50%;
                     background: $Emerald-500;
                     border-radius: 0px 10px 10px 0px;
                     box-shadow: 1px 2px 8px $Emerald-800;
                     padding: 15px;
                     margin: 20px;
                     animation: textoPrincipal 5s ease-in-out infinite;
                         p{
                             text-align: justify;
                             word-wrap: break-word;
                             letter-spacing: 2px;
                             color: #fff; 
                         }
                     }
                 }
             }
         }
 
        }
        
        @include responsive(600px){
            .container{
                .texto-principal{
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     .texto{
                         text-align: justify;
                     }
                }
            }
        }
     
 }
 