.s-principal{
     .container{
       
         .principal{
             margin-top: 20px;
             width: 100%;
             .texto-principal{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                 .texto{
                     width: 100%;
                     animation: textoPrincipal 5s ease-in-out infinite;
                     h1{
                        margin-top: 50px;
                        margin-bottom: 50px;
                        text-align: start;
                        font-size: 32px;
                         color: #334155;
                         span{
                            font-size: 40px;
                            color: $Emerald-500;

                        }
                     }

                    
                 }
                 .texto-sobre-mim{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                   
                    .btn-sobre-mim{
                      
                        .btn-header{
                            width: 2000px;
                        }
                    }
                    .texto-description{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        margin-bottom: 30px;
                        p{
                            margin-top: 15px;
                           text-align: justify;
                           font-size: 18px;
                           color: #334155;

                           span{
                            color: $Emerald-500;
                           }
                          
                        }
                        #apresentation{
                      
                            display: none;
                        }
                    }
                 }

                 .image{
                     width: 80vh;
                     display: flex;
                     margin: 20px;
                     img{
                       margin-top: 10px;
                       align-items: center;
                       justify-content: center;
                     }
                 }
                 .texto-obs{
                     animation: textoError 6S ease-in-out infinite;
                     .texto{
                     display: flex;
                     align-items: center;
                     width: 50%;
                     background: $Emerald-500;
                     border-radius: 0px 10px 10px 0px;
                     box-shadow: 1px 2px 8px $Emerald-800;
                     padding: 15px;
                     margin: 20px;
                     animation: textoPrincipal 5s ease-in-out infinite;
                         p{
                             text-align: justify;
                             word-wrap: break-word;
                             letter-spacing: 2px;
                             color: #fff; 
                         }
                     }
                 }
             }
         }
 
        }
        
        @include responsive(600px){
            .container{
                .texto-principal{
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     .texto{
                         text-align: justify;
                     }

                     .image{
                         justify-content: center;
                        img{
                            width: 50vh;
                            
                        }
                     }
                }
            }
        }
     
 }
 