.btn-header{
    width: 130px;
    padding: 15px;
    border-radius: 7px;
   
    background: $Emerald-500;
    box-shadow: 1px 3px 2px #e2e8f0;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    line-height: 7px;
    outline: none;
    margin-left: 10px;
    transition:  all .5s ease-in-out;
    cursor: pointer;
    &:hover{
        border: 1px solid #2dd4bf;
        border-bottom: 5px solid $Emerald-500;
        background:#FFFFFF;
        color: $Emerald-500;
    }
}

.btn-skills , .btn-soft{
    padding: 0px 10px 0px 10px;
   // background: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: lowercase;
    font-weight: 700;

}

.card-empresa{
    width: 100%;
    max-width: 350px;
    background: #6ee7b7;
    box-shadow: 1px 2px 8px #e2e8f0;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    border-left: 10px solid #fff;
    margin: 15px;
    h2{
        color: #0f172a;
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        background: #FFFFFF ;
        box-shadow: 1px 2px 8px #6ee7b7;
        border-radius: 0px 10px 10px 0px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h3{
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    p{
        text-align: start;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;

    }
}

.contactos, .social{
    width: 100%;
    margin: 5px;
    h2{
        margin-top: 10px;
        padding: 5px;
        background:  $Emerald-500;
        box-shadow: 1px 2px 10px #e2e8f0;
        border-radius: 0px 10px 10px 0px ;
        font-size: 18px;
        margin-bottom: 10px;
        color: #fff;
    }
    ul{
        background: #2dd4bf;
        box-shadow: 1px 2px 8px #e2e8f0;
        border-radius: 0px 10px 10px 0px;
        padding: 15px;
        li{
            h3{
                color: #fff;
                font-size: 16px;
                display: flex;
                align-items: flex-end;
            }
        }
    }
}


