footer{
    padding: 40px 0px 0px 0px;
    background: #1e293b;
    position: relative;
    bottom: 0;
    width: 100%;
    .container{
        display: flex;
        justify-content: space-around;
        .social{
            h2{
                color: #fff;
                text-align: center
            }
            nav{
                ul{
                    li{
                        a{
                            color: #fff;
                            margin: 5px;
                        }
                    }
                }
            }
        }
        
    }
    .texto-bottom{
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        background: #0e7490;
        justify-content: center;
        align-items: center;
        p{
            padding: 15px;
            text-align: center;
            color: #fff;
            border-bottom: 2px solid #fff;
        }
    }
}