header{
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background: #FFFFFE;
    box-shadow: 1px 3px 7px #eee2;
    z-index: 10;
    position: static;
    margin-bottom: 10px;

.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            .texto-logo{
                img{
                    width: 150px;
                }
            }
        }
    
        nav{
            ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
            li{
                display: flex;
                align-items: center;
                        
                .btn_active{
                    &:hover{
                     
                        border-bottom: 2px solid #2dd4bf;
                    }
                }
            }
                }
        }
    }
    
   @include responsive(736px){
        .container{
            display: flex;
            flex-direction: column;
            .logo{
                .texto-logo{
                    img{
                        width: 180px;
                        height: 50px;
                        margin-bottom: 10px;
                    }
                }
              
            }
            nav{
                ul{
                    display: flex;
                    flex-direction: column;
                   li{
                    margin-bottom: 5px;
                   }
                }
            }
        }
   }
}