header{
    top: 0px;
    padding: 15px;
    width: 100%;
    background: #FFFFFE;
    box-shadow: 1px 3px 7px #eee2;
    z-index: 10;
    margin-bottom: 10px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            .texto-logo{
                img{
                    width: 150px;
                }

            }
        }
    
        nav{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        display: flex;
                        align-items: center;
                        a{
                            margin: 0px 20px;
                            color: #fff;
                        }
                    }
                }
        }
    }
    
   @include responsive(736px){
        .container{
            display: flex;
            flex-direction: column;
            .logo{
                .texto-logo{
                    img{
                        width: 180px;
                        height: 50px;
                        margin-bottom: 10px;
                    }
                }
              
            }
            nav{
                ul{
                    display: flex;
                    flex-direction: column;
                   li{
                    margin-bottom: 5px;
                   }
                }
            }
        }
   }
}