header{
    top: 0;
    padding: 15px;
    width: 100%;
    background-color:#0ea5e9;
    opacity: 1;
    box-shadow: 1px 3px 7px #2a353a;
    position: fixed;
    z-index: 100;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            .texto-logo{
                img{
                    width: 200px;
                }

            }
        }
    
        nav{
                
            h1{
                    color: #fff;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a{
                            margin: 0px 20px;
                            color: #fff;
                        }
                    }
                }
            }
    }
    
   
}