body {
    overflow-x: hidden;
  }
  
  /* Melhorando a visualização dos certificados */
  .swiper-slide img {
    width: 100% !important;
  }
  
  /* Mudar as configurações do meu container */
  .container {
    width: 80% !important;
  }
  
  /* Banner */
  .mk__banner {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .mk__banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .mK__certificados {
    background: #fff;
    padding-block: 3rem;
  }
  
  
  .mk_experiencia .texto-eperiencia h2,
  .mk__conhecimentos h2,
  .mK__certificados h2 {
    font-size: 2rem !important;
  }
  
  
  header {
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background: #FFFFFE;
    box-shadow: 1px 3px 7px rgba(238, 238, 238, 0.1333333333);
    z-index: 10;
    position: fixed;
    margin-bottom: 10px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .container .logo a {
    font-size: 1.3rem !important;
    color: #10b981;

  }
  
  header .container .logo a span {
    color: #065f46;
  }
  
  header .container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .container nav ul li {
    display: flex;
    align-items: center;
  }
  
  header .container nav ul li a {
    margin: 0px 20px;
    color: #334155;
    font-size: 14px;
  }
   @include responsive(736px){
    
      .s-principal{
        margin-top: 300px;
        width: 100%;
        margin-bottom: 150px;
          .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
              width: 90vw;
            }

            .principal{
              .texto-sobre-mim{
                  .texto-description{
                    #apresentation,span{
                      font-size: 14px;
                    }
                  }
                }
              
            }
          }
      }

   }