.s-principal{
   padding-top: 20px;
    height: 500px;
    width: 100%;
    .container{
        .principal{
            margin-top: 50px;
            margin-bottom: 100px;
            width: 100%;
            .texto-principal{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                gap: 32px;
                .texto{
                    width: 100%;
                    max-width: 400px;
                    animation: textoPrincipal 5s ease-in-out infinite;
                    #bem-vindo{
                    margin-bottom: 20px;
                    }
                    #apresentation{
                        margin-top: 20px;
                        display: none;
                    }
                    h3{
                        color: #334155;
                    }
                }
                .image{
                    width: 400px;
                    display: flex;
                    margin: 20px;
                    img{
                      margin-top: 80px;
                      align-items: center;
                      justify-content: center;
                    }
                }
                .texto-obs{
                    animation: textoError 6S ease-in-out infinite;
                    .texto{
                    display: flex;
                    align-items: center;
                    width: 50%;
                    background: $Emerald-500;
                    border-radius: 0px 10px 10px 0px;
                    box-shadow: 1px 2px 8px $Emerald-800;
                    padding: 15px;
                    margin: 20px;
                    animation: textoPrincipal 5s ease-in-out infinite;
                        p{
                            text-align: justify;
                            word-wrap: break-word;
                            letter-spacing: 2px;
                            color: #fff; 
                        }
                    }
                }
            }
        }

    }
}

.s-projectos{
    .container{
        margin-top: 200px;
         width: 100%;
         .texto-projectos{
             width: 100%;
             height: 50px;
             background: $Emerald-500;
             box-shadow: 1px 2px 8px #e2e8f0;
             border-radius: 0px 10px 10px 0px  ;
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 20px;
             border-left: 8px solid  #fff;
             
             h2{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 color: #fffffe;
                 height: 50px;
                 border-radius: 10px;
                 font-weight: 700;
                 font-size: 32px;
                 display: flex;
                 letter-spacing: 2px;
             }
         }
     
         .lista-projectos{
             .card{
                 display: grid;
                 grid-template-columns: repeat(3, 1fr);
                 gap: 10px;
                 margin-top: 20px;
                 margin-bottom: 30px;
                 .project-description{
                     position: relative;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     width: 100%;
                     height: 250px;
                     background: #fffffe;
                     box-shadow: 1px 2px 8px #e2e8f0;
                     border-radius: 0px 10px 10px 0px;
                     padding: 15px;
                     color: #fff;
                     border-right: 10px solid #fff;
                     h2{
                         margin-top: 10px;
                         width: 100%;
                         padding: 5px;
                         background: $Emerald-500;
                         box-shadow: 1px 2px 8px $Emerald-700;
                         border-radius: 0px 10px 10px 0px;
                         font-size: 18px;
                         margin-bottom: 10px;
                         text-align: center;
                     }
                     h3{
                         margin-top: 20px;
                         text-align: center;
                         font-size: 16px;
                         font-weight: 700;
                         color:#1e293b;
                         text-align: justify;
                         letter-spacing: 1px;
                         margin-bottom: 10px;
                     
                     }
                     a{
                         position: absolute;
                         width: 100%;
                         bottom: 0;
                         text-align: center;
                         color: #fff;
                         border-radius:7px 0px 0px 0px;
                         margin-top: 10px;
                         margin-bottom: 10px;
                         &:hover{
                            border: 1px solid #2dd4bf;
                            border-bottom: 5px solid $Emerald-500;
                            background:#FFFFFF;
                            color: $Emerald-500;
                        }
                     }
                 }
             }
         }
    }

}


.s-conhecimentos{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    .container{
        .texto-conhecimento{
            width: 100%;
            height: 50px;
            background: $Emerald-500;
            box-shadow: 1px 2px 8px #e2e8f0;
            border-radius: 0px 10px 10px 0px  ;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-left: 8px solid  #fff;
            
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fffffe;
                height: 50px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 32px;
                display: flex;
                letter-spacing: 2px;
            }
        }
        .skills{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .hard-skills{
                padding: 10px;
                width: 100%;
                max-width: 400px;
                background: #fffffe;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid $Emerald-400 ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: $Emerald-500;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #e2e8f0;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    display: flex;
                    letter-spacing: 10px;
                }
            }

            .soft-skills{
                padding: 10px;
                width: 100%;
                max-width: 400px;
                background: #fffffe;
                border-radius: 10px;
                box-shadow: 2px 3px 8px  #e2e8f0;
                border-left: 10px solid $Emerald-400 ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: $Emerald-500;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #e2e8f0;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    display: flex;
                    letter-spacing: 10px;
                }
            }

        }
        
    }
}

.s-card-experiencia{
    margin-bottom: 50px;
    .container{
        .texto-eperiencia{
            width: 100%;
            height: 50px;
            background: $Emerald-500;
            box-shadow: 1px 2px 8px #e2e8f0;
            border-radius: 0px 10px 10px 0px  ;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 8px solid  #fff;
            padding: 20px;
            margin-bottom: 15px;
            h2{
                text-align: center;
                color: #fff;
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 10px;
            }
        }
        .card-experiencia-empresa{
            display: flex;
           
        }

    }
}