.s-projectos{
    .container{
        .principal{
            width: 100%;
            margin-top: 70px;
            .texto-principal{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                gap: 32px;
                .texto{
                    width: 100%;
                    max-width: 500px;
                    background: #0ea5e9;
                    border-radius: 0px 10px 10px 0px;
                    box-shadow: 1px 2px 8px #0c4a6e;
                    padding: 15px;
                    margin: 20px;
                    h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    line-height: 20px;
                    word-wrap: break-word;
                    letter-spacing: 1px;
                    color: #fff;
                    }
                }
                .image{
                    width: 100%;
                    max-width: 500px;
                    display: flex;
                    margin: 20px;
                    img{
                      margin-top: 80px;
                      align-items: center;
                      justify-content: center;
                    }
                }
            }
        }
        .projectos{
           position: relative;
            width: 100%;
            .texto-projectos{
                width: 100%;
                height: 50px;
                background: #2563eb;
                box-shadow: 1px 2px 8px #0c4a6e;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                h2{
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 32px;
                    display: flex;
                    letter-spacing: 10px;
                }
            }
        
            .lista-projectos{
                width: 100%;
                height: 500px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                margin-bottom: 100px;
                .card{
                    .image-card{
                        width: 80%;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 300px;
                        }
                    }
                    a{
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.s-conhecimentos{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    .container{
        .texto-conhecimento{
            width:100%;
            background: #34d399;
            border-radius: 10px 0px 10px 0px;
            box-shadow: 2px 3px 10px #0c4a6e;
            align-items: center;
            margin-bottom: 20px;
            
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                height: 50px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 32px;
                display: flex;
                letter-spacing: 10px;
            }
        }
        .skills{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .hard-skills{
                padding: 10px;
                width: 100%;
                max-width: 400px;
                background: #67e8f9;
                border-radius: 10px;
                box-shadow: 2px 3px 20px #0c4a6e;
                border-left: 10px solid white ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: #0f172a;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #0c4a6e;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    display: flex;
                    letter-spacing: 10px;
                }
            }

            .soft-skills{
                padding: 10px;
                width: 100%;
                max-width: 400px;
                background: #67e8f9;
                border-radius: 10px;
                box-shadow: 2px 3px 20px #0c4a6e;
                border-left: 10px solid white ;
                justify-content: space-between;
                align-items: center;
                .texto-skills{
                    width:100%;
                    background: #111827;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 2px 3px 10px #0c4a6e;
                    align-items: center;
                    margin-bottom: 20px;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    height: 50px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    display: flex;
                    letter-spacing: 10px;
                }
            }

        }
        .texto-obs{
            display: flex;
            justify-content: center;
            align-items: center;
            .container{
                display: flex;
                width: 1000px;
                background: #f87171;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 2px 8px #0c4a6e;
                border-radius: 10px 0px 10px 0px;
                padding: 15px;
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    word-wrap: break-word;
                    letter-spacing: 2px;
                    color: #fff;
                   
                }
            }

           
        }
    }
}