@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}
body{
    background: #e2e8f0;
}
body *{
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1246px;
    padding: 0 15px;
    margin: 0 auto; 
}
