//Slate
$Slate-50:#f8fafc;
$Slate-100:#f1f5f9;
$Slate-200:#e2e8f0;
$Slate-300:#cbd5e1;
$Slate-400:#94a3b8;
$Slate-500:#64748b;
$Slate-600:#475569;
$Slate-700:#334155;
$Slate-800:#1e293b;
$Slate-900:#0f172a;

//Gray

$Gray-50:#f9fafb;
$Gray-100:#f3f4f6;
$Gray-200:#e5e7eb;
$Gray-300:#d1d5db;
$Gray-400:#9ca3af;
$Gray-500:#6b7280;
$Gray-600:#4b5563;
$Gray-700:#374151;
$Gray-800:#1f2937;
$Gray-900:#111827;


// Green
$Green-50:#f0fdf4;
$Green-100:#dcfce7;
$Green-200:#bbf7d0;
$Green-300:#86efac;
$Green-400:#4ade80;
$Green-500:#22c55e;
$Green-600:#16a34a;
$Green-700:#15803d;
$Green-800:#166534;
$Green-900:#14532d;


$Emerald-50:#ecfdf5;
$Emerald-100:#d1fae5;
$Emerald-200:#a7f3d0;
$Emerald-300:#6ee7b7;
$Emerald-400:#34d399;
$Emerald-500:#10b981;
$Emerald-600:#059669;
$Emerald-700:#047857;
$Emerald-800:#065f46;
$Emerald-900:#064e3b;


$Teal-50:#f0fdfa;
$Teal-100:#ccfbf1;
$Teal-200:#99f6e4;
$Teal-300:#5eead4;
$Teal-400:#2dd4bf;
$Teal-500:#14b8a6;
$Teal-600:#0d9488;
$Teal-700:#0f766e;
$Teal-800:#115e59;
$Teal-900:#134e4a;


$Cyan-50:#ecfeff;
$Cyan-100:#cffafe;
$Cyan-200:#a5f3fc;
$Cyan-300:#67e8f9;
$Cyan-400:#22d3ee;
$Cyan-500:#06b6d4;
$Cyan-600:#0891b2;
$Cyan-700:#0e7490;
$Cyan-800:#155e75;
$Cyan-900:#164e63;