//Slate
$Slate-50:#f8fafc;
$Slate-100:#f1f5f9;
$Slate-200:#e2e8f0;
$Slate-300:#cbd5e1;
$Slate-400:#94a3b8;
$Slate-500:#64748b;
$Slate-600:#475569;
$Slate-700:#334155;
$Slate-800:#1e293b;
$Slate-900:#0f172a;

//Gray

$Gray-50:#f9fafb;
$Gray-100:#f3f4f6;
$Gray-200:#e5e7eb;
$Gray-300:#d1d5db;
$Gray-400:#9ca3af;
$Gray-500:#6b7280;
$Gray-600:#4b5563;
$Gray-700:#374151;
$Gray-800:#1f2937;
$Gray-900:#111827;