@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
header {
  top: 0;
  padding: 15px;
  width: 100%;
  background-color: #34d399;
  opacity: 1;
  box-shadow: 1px 3px 12px #2a353a;
  position: fixed;
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  align-items: flex-start;
  width: 200px;
  background: #34d399;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 3px 10px #0c4a6e;
}
header .container .logo .texto-logo {
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  letter-spacing: 10px;
}
header .container nav h1 {
  color: #fff;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul li a {
  margin: 0px 20px;
  color: #fff;
}

.s-projectos .container .principal {
  width: 100%;
  margin-top: 70px;
}
.s-projectos .container .principal .texto-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 32px;
}
.s-projectos .container .principal .texto-principal .texto {
  width: 100%;
  max-width: 500px;
  background: #0ea5e9;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 1px 2px 8px #0c4a6e;
  padding: 15px;
  margin: 20px;
}
.s-projectos .container .principal .texto-principal .texto h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 20px;
  word-wrap: break-word;
  letter-spacing: 1px;
  color: #fff;
}
.s-projectos .container .principal .texto-principal .image {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 20px;
}
.s-projectos .container .principal .texto-principal .image img {
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}
.s-projectos .container .projectos {
  position: relative;
  width: 100%;
}
.s-projectos .container .projectos .texto-projectos {
  width: 100%;
  height: 50px;
  background: #2563eb;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-projectos .container .projectos .texto-projectos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  letter-spacing: 10px;
}
.s-projectos .container .projectos .lista-projectos {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 100px;
}
.s-projectos .container .projectos .lista-projectos .card .image-card {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-projectos .container .projectos .lista-projectos .card .image-card img {
  width: 300px;
}
.s-projectos .container .projectos .lista-projectos .card a {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.s-conhecimentos {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
}
.s-conhecimentos .container .texto-conhecimento {
  width: 100%;
  background: #34d399;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 3px 10px #0c4a6e;
  align-items: center;
  margin-bottom: 20px;
}
.s-conhecimentos .container .texto-conhecimento h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  letter-spacing: 10px;
}
.s-conhecimentos .container .skills {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.s-conhecimentos .container .skills .hard-skills {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  background: #67e8f9;
  border-radius: 10px;
  box-shadow: 2px 3px 20px #0c4a6e;
  border-left: 10px solid white;
  justify-content: space-between;
  align-items: center;
}
.s-conhecimentos .container .skills .hard-skills .texto-skills {
  width: 100%;
  background: #0f172a;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 3px 10px #0c4a6e;
  align-items: center;
  margin-bottom: 20px;
}
.s-conhecimentos .container .skills .hard-skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  letter-spacing: 10px;
}
.s-conhecimentos .container .skills .soft-skills {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  background: #67e8f9;
  border-radius: 10px;
  box-shadow: 2px 3px 20px #0c4a6e;
  border-left: 10px solid white;
  justify-content: space-between;
  align-items: center;
}
.s-conhecimentos .container .skills .soft-skills .texto-skills {
  width: 100%;
  background: #111827;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 2px 3px 10px #0c4a6e;
  align-items: center;
  margin-bottom: 20px;
}
.s-conhecimentos .container .skills .soft-skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  letter-spacing: 10px;
}
.s-conhecimentos .container .texto-obs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-conhecimentos .container .texto-obs .container {
  display: flex;
  width: 90%;
  background: #f87171;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 10px 0px 10px 0px;
  padding: 15px;
}
.s-conhecimentos .container .texto-obs .container p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  word-wrap: break-word;
  letter-spacing: 2px;
  color: #fff;
}
.s-conhecimentos .container .card-experiencia {
  margin-top: 20px;
}
.s-conhecimentos .container .card-experiencia .texto-eperiencia {
  width: 100%;
  height: 50px;
  background: #0c4a6e;
  box-shadow: 1px 2px 8px rgba(12, 74, 110, 0.431372549);
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-conhecimentos .container .card-experiencia .texto-eperiencia h2 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 10px;
}
.s-conhecimentos .container .card-experiencia .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 40px 0px 0px 0px;
  background: #1e293b;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer .container {
  display: flex;
  justify-content: space-around;
}
footer .container .social h2 {
  color: #fff;
  text-align: center;
}
footer .container .social nav ul li a {
  color: #fff;
  margin: 5px;
}
footer .texto-bottom {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  background: #34d399;
  justify-content: center;
  align-items: center;
}
footer .texto-bottom p {
  padding: 15px;
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.btn-header {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background: #22d3ee;
  color: #fff;
  box-shadow: 1px 3px 12px #2a353a;
  outline: none;
}
.btn-header:hover {
  border-bottom: 5px solid #22d3ee;
  background: #fff;
  color: #22d3ee;
}

.card {
  top: 20px;
  position: relative;
  margin: 2px;
  width: 100%;
  height: 200px;
  background: #38bdf8;
  border-radius: 10px;
  box-shadow: 2px 3px 10px #0c4a6e;
  display: flex;
  justify-content: center;
}

.btn-skills {
  padding: 0px 10px 0px 10px;
  background: #2563eb;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  text-transform: uppercase;
}

.btn-soft {
  padding: 0px 10px 0px 10px;
  background: #2563eb;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  text-transform: uppercase;
}

.card-empresa {
  width: 100%;
  height: 200px;
  background: #22d3ee;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
  margin: 20px;
  color: #fff;
  border-left: 10px solid #fff;
}
.card-empresa h2 {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background: #0c4a6e;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  margin-bottom: 10px;
}
.card-empresa h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #cffafe;
  margin-bottom: 10px;
}
.card-empresa p {
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  color: #2563eb;
}

.contactos {
  width: 100%;
  background: #d4d4d8;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 10px 10px 10px 0px;
  padding: 15px;
  margin: 15px;
}
.contactos h2 {
  margin-top: 10px;
  padding: 5px;
  background: #0c4a6e;
  box-shadow: 1px 2px 8px #335163;
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
.contactos ul {
  background: #2563eb;
  box-shadow: 1px 2px 8px #335163;
  border-radius: 10px 10px 10px 0px;
  padding: 15px;
}
.contactos ul li {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
.contactos ul li a {
  text-align: start;
  font-weight: 700;
  color: #fff;
}

.mensagem {
  width: 100%;
  background: #d4d4d8;
  box-shadow: 1px 2px 8px #0c4a6e;
  border-radius: 10px 10px 10px 0px;
  padding: 15px;
  margin: 15px;
}
.mensagem h2 {
  margin-top: 10px;
  padding: 5px;
  background: #0c4a6e;
  box-shadow: 1px 2px 8px #335163;
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
.mensagem .sms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #2563eb;
  box-shadow: 1px 2px 8px #335163;
  border-radius: 0px 10px 0px 10px;
  width: 100%;
}
.mensagem .sms p {
  margin: 10px;
  text-align: center;
  word-wrap: break-word;
  font-size: 16px;
  color: #fff;
}

.barra {
  height: 300px;
  border-right: 5px solid white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
}

body {
  background: #1d4ed8;
}

.container {
  width: 100%;
  padding: 0px 80px 0px 80px;
}/*# sourceMappingURL=main.css.map */