@import "../styles/variaveis";
@import "../styles/mixins";
@import "../styles/header";
@import "../styles/sections/s_certificados";
@import "../styles/sections/s_principal";
@import "../styles/sections/s_projectos";
@import "../styles/sections/s_conhecimento";
@import "../styles/sections/s_card_experiencia";
@import "../styles/footer";
@import "../styles/componentes";
@import "../styles/animation";
@import "../styles/reset";