@import "../styles/variaveis";
@import "../styles/header";
@import "../styles/home";
@import "../styles/footer";
@import "../styles/componentes";
@import "../styles/animation";
@import "../styles/reponsive";
@import "../styles/reset";